server/.env
server/node_modules
app/newHere1/newHere.xcodeproj/xcuserdata/*
app/newHere1/newHere.xcodeproj/xcshareddata/*
app/newHere1/newHere.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
app/newHere1/newHere.xcodeproj/project.pbxproj
